<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Remove WebDAV which blocks PUT/DELETE -->
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    
    <!-- indicates that the run.cjs file is a Node.js application 
         to be handled by the iisnode module -->
    <handlers>
      <remove name="WebDAV" />
      <add name="iisnode" path="run.cjs" verb="*" modules="iisnode" />
    </handlers>
    
    <!-- URL rewrite rules to redirect all requests to run.cjs -->
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^run.cjs\/debug[\/]?" />
        </rule>
        
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}" />
        </rule>
        
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="run.cjs" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Allow PUT and DELETE verbs -->
    <security>
      <requestFiltering>
        <verbs>
          <add verb="GET" allowed="true" />
          <add verb="POST" allowed="true" />
          <add verb="PUT" allowed="true" />
          <add verb="DELETE" allowed="true" />
          <add verb="PATCH" allowed="true" />
          <add verb="OPTIONS" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
    
    <!-- Make sure error responses are left untouched -->
    <httpErrors existingResponse="PassThrough" />
    
    <!-- You can add more iisnode specific configurations here -->
    <iisnode 
      nodeProcessCommandLine="node"
      debuggingEnabled="true"
      loggingEnabled="true"
      devErrorsEnabled="true"
    />
    
    <!-- Optional: Add MIME types if needed -->
    <staticContent>
      <remove fileExtension=".cjs" />
      <mimeMap fileExtension=".cjs" mimeType="application/node" />
    </staticContent>
  </system.webServer>
</configuration>